* {
    margin: 0 auto;
    padding: auto;
}

html {
    background-color: white;
}

body {
    width: 960px;
    margin: auto;
}

a {
    color: #ff5400;
}

a:link,
a:visited {
    text-decoration: none;
}

h1,
h2 {
    padding: 20px;
    text-align: center;
}

p {
    padding: 30px 0 30px 0;
    text-align: center;
    line-height: 35px;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.4; /* Przezroczystosc */
    position: fixed;
    bottom: 50px; /* Pozycja przycisku na stronie */
    right: 50px; /* Pozycja przycisku na stronie */
    display: none;
    text-indent: -9999px;
    background: url('..//images/scrollup.png') no-repeat;
}
